* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-size: 62.5%;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: #ffffff;
  background: #eceeed;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

body,
input,
button,
textarea {
  font: 600 1.8rem Roboto;
}

@media (max-width: 1024px) {
  :root {
    font-size: 55%;
  }
}
