* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  background: #eceeed;
}

body,
input,
button,
textarea {
  font: 600 1.8rem Roboto;
}

@media (max-width: 768px) {
  :root {
    font-size: 55%;
  }
}
