#page-map {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#page-map aside {
  background: linear-gradient(329.54deg, #67e093 0%, #01ada9 100%);
  width: 100%;
  height: 9rem;

  padding: 0 10%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#page-map aside header {
  margin-right: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-map aside header img {
  height: 3.5rem;
}

#page-map aside .input-search-school {
  height: 40px;
  width: 60%;
  background: #ffffff;
  border-radius: 12px;

  padding: 0 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#page-map aside .input-search-school input {
  position: relative;
  margin-left: 1.6rem;
  width: 90%;
  color: #c3c3c3;
  border: none;
}

#page-map aside .input-search-school input:focus {
  outline: none;
}

#page-map aside footer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  line-height: 2.4rem;
  margin-left: 1.6rem;
}

#page-map aside footer strong {
  font-family: Ubuntu;
  font-weight: 800;
}

#page-map aside footer span {
  font-family: Ubuntu;
  font-weight: 500;
}

#page-map .leaflet-container {
  z-index: 5;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  box-shadow: none;
}

#page-map .map-popup .leaflet-popup-content {
  color: #01ada9;
  font-size: 2rem;
  font-weight: bold;
  margin: 0.8rem 1.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-map .map-popup .leaflet-popup-content a {
  width: 40px;
  height: 40px;
  background: linear-gradient(329.54deg, #67e093 0%, #01ada9 100%);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-map .map-popup .leaflet-popup-tip-container {
  display: none;
}

@media (max-width: 768px) {
  #page-map aside {
    padding: 0 1.8rem;
  }

  #page-map aside .input-search-school {
    width: 100%;
  }

  #page-map aside footer {
    display: none;
  }
}
