#page-map {
  width: 100%;
  height: 100%;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  box-shadow: none;
}

#page-map .leaflet-container {
  z-index: 5;
}

#page-map .map-popup .leaflet-popup-content {
  color: #01ada9;
  font-size: 2rem;
  font-weight: bold;
  margin: 0.8rem 1.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-map .map-popup .leaflet-popup-content a {
  width: 40px;
  height: 40px;
  background: linear-gradient(329.54deg, #67e093 0%, #01ada9 100%);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-map .map-popup .leaflet-popup-tip-container {
  display: none;
}

#page-map .my-location-popup {
  position: absolute;

  display: none;
  align-items: center;
  justify-content: center;

  z-index: 10;

  background-color: red;

  cursor: pointer;

  width: 60px;
  height: 60px;
  border-radius: 20px;

  right: 2.6rem;
  bottom: 2.6rem;
}
